
/* 設定帳號密碼框的屬性 */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* 設定所有button的屬性 */
button {
  background-color: #333;
  color: white;
  padding: 14px 16px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
}
/*當滑鼠在button上時透明度為0.8*/
button:hover {
  opacity: 0.8;
}
/*叉叉按鈕的位置*/
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
/* 額外設定cancelbutton及signupbutton的屬性 */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  margin: 20px 0px;
  background-color: #333;
}
.signupbtn {
  width: auto;
  padding: 10px 18px;
  margin: 20px 0px;
  background-color: #333;
  float:right;
}


.container {
  padding: 16px;
  margin: 20px 0px 0px 0px;
  overflow: auto;
}

/* 登入視窗 */
.modal {
  display: none; /* 隱藏介面 */
  position: fixed; /* 固定位置 */
  z-index: 1; /* 使層排列在上*/
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /*視窗彈出時背景的顏色*/
  }

/* 設定登入視窗的位置*/
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;/*視窗邊線顏色*/
  width: 40%; /* 登入框的大小 */
}

/* 關閉鈕(x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
/*移動關閉鈕上或按著的時候將顏色變成紅色的*/
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* 啟動登入介面的動畫 */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

